.c-content {
    padding-bottom: 100px;
    position: relative;
    top: 2300px;
    color: white;
    background-image: linear-gradient(-179deg, #152149 0%, #071029 100%);
    box-shadow: 0 -78px 94px 0 #152149;
}

.c-intro {
    margin-bottom: -200px;
    top: -250px;
    position: relative;

    img {
        display: block;
        margin: 0 auto;
        position: relative;
        top: 65px;
    }

    iframe {
        height: 500px;
        box-shadow: 0 0 60px black;
    }

    &__title {
        text-align: center;
        color: $color-primary;
        text-shadow: 0 0 10px $light;

        span {
            display: inline-block;
            text-shadow: 0 0 10px $dark;
            color: $light;
            border-bottom: 2px solid $color-primary;
        }
    }

}

.c-lead {
    margin-bottom: 60px;

    p {
        font-size: rem-calc(23px);
    }

}

.c-cta {
    text-align: center;
    margin-bottom: 150px;
}

.c-button {
    text-decoration: none;
    color: $light;
    font-weight: bold;
    text-transform: uppercase;
    font-size: rem-calc(24);
    padding: 15px 25px;
    background-color: $color-primary;
    box-shadow: 0 0 40px $color-primary;
    transition: .2s;
    display: block;
    max-width: 500px;
    margin: 0 auto;

    &:hover {
        box-shadow: 0 0 20px $color-primary;
    }

    span {
        color: rgba($light, .9);
        font-weight: normal;
        font-size: rem-calc(13);
        display: block;
        text-transform: none;
    }
}

.c-faq {
    margin-bottom: 100px;
    &__title {
        font-size: rem-calc(30);
        color: $color-primary;
        text-transform: uppercase;
        margin-bottom: 50px;
        text-align: center;
    }

    ul {
        list-style: none;
    }

    &__item {
        margin-bottom: 30px;
    }

    &__item-label {
        appearance: none;
        color: $color-primary;
        border: none;
        background-color: transparent;
        display: block;
        font-weight: bold;
        cursor: pointer;
        padding: 0;
        font-size: rem-calc(20);
        position: relative;
        outline: none;


        &:before {
            content:'';
            display: block;
            border: 2px solid $color-primary;
            width: 10px;
            height: 10px;
            position: absolute;
            left: -30px;
            top: 50%;
            transform: translatey(-50%);
            transition: 1s;
        }

        &.current:before {
            transform: translatey(-50%) rotate(45deg);
        }

    }

    &__item-answer {
        display: none;
    }
}
